.sap-sbo-ng4c-launchpad-Launchpad {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow: hidden;
    background: transparent;
    box-sizing: border-box;

    > div {
        transition: 0.3s;

        &.content {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            overflow-y: auto;
        }

        &.aside {
            position: absolute;
            left: 0;
            width: 0;
            top: 0;
            bottom: 0;
        }

        &.notice {
            position: absolute;
            width: 0;
            top: 0;
            bottom: 0;
            right: 0;
        }
    }
}
