<div ng-controller="sap.sbo.ng4c.launchpad.aside.User" ng-class="className">
    <div class="avatar">
        <img src="resources/sap/sbo/ng4c/header/avatar_1.jpg" />
    </div>
    <div class="info">
        <div class="uname">
            <span>Jackie Wei</span>
        </div>
        <ng4c-status-select></ng4c-status-select>
    </div>
</div>
<div class="tools">
    <img src="resources/sap/sbo/ng4c/launchpad/aside/icons.png" />
</div>
<div ng-controller="sap.sbo.ng4c.launchpad.aside.Tab" ng-class="className">
    <div class="tab">
        <a href="" ng-click="showTab(0)"><div class="{{currentIndex === 0 ? 'light' : 'grey'}}">Lastest on top</div></a>
        <a href="" ng-click="showTab(1)"><div class="{{currentIndex === 1 ? 'light' : 'grey'}}">By Name</div></a>
    </div>
    <div class="content">
        <div class="date" style="display:{{currentIndex === 0 ? 'block' : 'none'}}">
            <div class="item">
                <img src="resources/sap/sbo/ng4c/launchpad/aside/message_1.png" />
            </div>
            <div class="item">
                <img src="resources/sap/sbo/ng4c/launchpad/aside/message_2.png" />
            </div>
        </div>
        <div style="display:{{currentIndex === 1 ? 'block' : 'none'}}">

        </div>
    </div>
</div>