<div class="tileContainers">
    <div class="tileContainer">
        <ng4c-label class="label" text="My Home"></ng4c-label>
        <div class="container">
            <div ng-repeat="data in homeTiles" ng-controller="sap.sbo.ng4c.launchpad.dashboard.Tile" ng-include="template"
                 ng-class="className" style="width:{{width}}em;height:{{height}}em">
            </div>
        </div>
    </div>
    <div class="tileContainer">
        <ng4c-label class="label" text="Internal Sales Representative">
        </ng4c-label>
        <div class="container">
            <div ng-repeat="data in salesTiles" ng-controller="sap.sbo.ng4c.launchpad.dashboard.Tile" ng-include="template"
                 ng-class="className" style="width:{{width}}em;height:{{height}}em">
            </div>
        </div>
    </div>
</div>

<div class="notice">
    <div ng-repeat="data in notices" ng-controller="sap.sbo.ng4c.launchpad.dashboard.Notice" ng-include="template"
         ng-class="className" style="position:absolute; transition: {{0.15 * ($index + 1)}}s;top:{{132 * $index}}px;left: {{noticeLeft}}; opacity: {{noticeOpacity}};">
    </div>
</div>