<div ng-controller="sap.sbo.ng4c.header.Begin" ng-class="className">
    <div class="container">
        <div class="avatar" tabindex="0" ng-click="focusOnPersonal()">
            <img src="resources/sap/sbo/ng4c/header/avatar.jpg" />
        </div>
        <div class="home" tabindex="0" ng-click="focusOnHome()"></div>
    </div>
</div>
<div ng-controller="sap.sbo.ng4c.header.Center" ng-class="className">
    <div class="container">
        <div class="title">Me Area</div>
    </div>
</div>
<div ng-controller="sap.sbo.ng4c.header.End" ng-class="className">
    <div class="container">
        <div class="search" tabindex="0"></div>
        <div class="setting" tabindex="0"></div>
        <div class="notice" tabindex="0" ng-click="focusOnNotice()"></div>
    </div>
</div>