<div ng-controller="sap.sbo.ng4c.header.Begin" ng-class="className">
    <div class="container">
        <div class="avatar" tabindex="0" ng-click="focusOnPersonal()">
            <img src="resources/sap/sbo/ng4c/header/avatar_1.jpg" />
        </div>
        <div class="home" tabindex="0" ng-click="focusOnHome()"></div>
    </div>
</div>
<div ng-controller="sap.sbo.ng4c.header.Center" ng-class="className">
    <div class="container">
        <div class="title">Me Area</div>
    </div>
</div>
<div ng-controller="sap.sbo.ng4c.header.End" ng-class="className">
    <div class="container">
        <div class="notice" tabindex="0" ng-click="focusOnNotice()"></div>
        <div class="setting">
            <div class="icon" tabindex="0"></div>
            <div class="setting" ng-controller="sap.sbo.ng4c.header.Setting" ng-class="className" ng-include="template"></div>
        </div>
        <div class="search {{meta.search ? 'active' : ''}}" ng-controller="sap.sbo.ng4c.header.Searchbar" ng-class="className">
            <input type="search" placeholder="{{meta.placeholder}}" />
            <div class="icon" table-index="0" ng-click="extendSearch($event)"></div>
        </div>
    </div>
</div>